.container {
	background: #fcfcfa;
}

#projection-menu {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}

svg {
	&.centered {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	fill: none;

	.stroke {
		stroke: #000;
		stroke-width: 3px;
	}
	.fill { fill: #fff; }

	.land { fill: #ccc; }

	.graticule {
		stroke: #777;
		stroke-width: .5px;
		stroke-opacity: .5;
	}

	.point {
		fill: #000;
	}
	.trace {
		stroke: #a00;
		stroke-width: 1px;
	}

}
