.container {
  background: #fcfcfa; }

#projection-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none; }

svg {
  fill: none;
  /* XXX: something more like wargamez style */ }
  svg.centered {
    position: absolute;
    top: 50%;
    left: 50%; }
  svg .stroke {
    stroke: #000;
    stroke-width: 3px; }
  svg .fill {
    fill: #fff; }
  svg .land {
    fill: #ccc; }
  svg .graticule {
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5; }
  svg .point {
    fill: #000; }
  svg .trace {
    stroke: #a00;
    stroke-width: 1px; }

