doctype html
html(lang='en')

	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(charset='utf-8')
		meta(name='description' content='Planetscape')
		meta(name='viewport', content='width=device-width')

		title Planetscape

		link(rel='stylesheet' href='css/main.css')


	body
		div(class='container')
			svg
			select(id='projection-menu')


		script(src='js/d3.v3.min.js')
		script(src='js/d3.geo.projection.v0.min.js')
		script(src='js/topojson.v1.min.js')

		// script(src='js/geo_mock.json')
		script(src='js/main.js')
